

<div class="container mt-5">
    <div *ngIf="jugador" class="animate__animated animate__bounce animate__fadein">
        <div class="col-md-9">
            <p><strong>Identificador:</strong> {{jugador.id}}</p>
            <p><strong>Nombre:</strong> {{jugador.name}}</p>
            <p><strong>Nacionalidad:</strong> {{jugador.nationality}}</p>
            <p><strong>Posición:</strong> {{jugador.position}}</p>
        </div>

        <div class="col-md-3">
            <a class="btn btn-danger" routerLink="/">Volver</a>
        </div>
    </div>
</div>
